@import 'tailwindcss';
@import '@fontsource-variable/outfit';
@import '@fontsource/ibm-plex-mono/100.css';
@import '@fontsource/ibm-plex-mono/200.css';
@import '@fontsource/ibm-plex-mono/300.css';
@import '@fontsource/ibm-plex-mono/400.css';
@import '@fontsource/ibm-plex-mono/500.css';
@import '@fontsource/ibm-plex-mono/600.css';
@import '@fontsource/ibm-plex-mono/700.css';

@layer utilities {
	.font-plex-100 {
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 100;
	}

	.font-plex-200 {
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 200;
	}

	.font-plex-300 {
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 300;
	}

	.font-plex-400 {
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 400;
	}

	.font-plex-500 {
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 500;
	}

	.font-plex-600 {
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 600;
	}

	.font-plex-700 {
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 700;
	}

	.no-scrollbar {
		/* Hide scrollbar for Chrome, Safari and Opera */
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Opera */
	}
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

body {
	width: 100dvw;
	height: 100dvh;
	background-image: url('https://raw.githubusercontent.com/ashrv12/p03-exchange/refs/heads/main/static/containers.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Outfit Variable', sans-serif;
}

.glass {
	background: rgba(13, 13, 13, 0.79);
	/* #0d0d0dc9 */
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(14.1px);
	-webkit-backdrop-filter: blur(14.1px);
	/* border: 1px solid rgba(13, 13, 13, 0.3); */
}
